#covidInfo {
    background-color: white;
}

#covidInfo a {
    color: black;
}

#covidInfo:hover {
    background-color: red;
}

#pdcovidInfo:hover {
    background-color: red;
}

#pdcovidInfo {
    background-color: white;
}

#pdcovidInfo a {
    color: black;
}

* {
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section h1 {
    text-align: center;
    padding: 10px;
    color: darkblue;
    font-size: 3rem;
    overflow-x: hidden;


}

section p {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
}

section h2 {
    padding: 10px;
    color: darkviolet;
    overflow-x: hidden;
    font-size: 2rem;

}

section h3 {
    padding: 15px;
    color: blue;
    overflow-x: hidden;
    font-size: 1.5rem;
}

section h4 {
    padding: 15px;
    overflow-x: hidden;
    font-family: 'Asap', sans-serif;

}

section button {
    background-color: black;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: hidden;
    border: 2px solid black;
}

section button>a {
    color: white;
    padding: 10px 10px;

    font-size: 20px;
    overflow-x: hidden;
    text-decoration: none;
}

section button:hover {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

section button>a:hover {
    font-size: 22px;
    overflow-x: hidden;
    color: black;
}

section li {
    padding: 10px 5px;
    margin: 0px 30px;
    overflow-x: hidden;
    font-family: 'Asap', sans-serif;
}

section p>a {
    overflow-x: hidden;
    text-decoration: none;
}

section p>a:hover {
    overflow-x: hidden;
    text-decoration: underline;
}

section img {
    width: 100%;
    height: auto;
    overflow: hidden;
}