/* navigation */
#plagam{
    background-color: rgb(199, 90, 0);
}
#pplagam{
    background-color: rgb(15, 160, 15);
}
#pplagam:hover{
    background-color: red;
}

/* navigation */

*{
    text-align: center;
}


/* section  */
.lmsection{
    border: 2px solid grey;
    text-align: center;
    padding:30px 20px;
    flex-wrap: wrap;
    display:flex;
    align-items:center;
    flex-direction: column;
}
@media (min-width:1100px) {
    .lmsection {
        display: grid;
        grid-template-areas:
            'secimg lmh1 lmh1'
            'secimg lmh1 lmh1'
            'secimg lmbtn lmbtn'
            'secimg lmbtn lmbtn';

        width: 100%;
        border: 2px solid gray;
        border-left: 0px;
        border-right: 0px;
        padding-left:0px;
        padding-right:0px;

    }
}
.lmh1 {
    grid-area: lmh1;
}

.secimg {
    grid-area: secimg;
}

.lmbtn {
    grid-area: lmbtn;
}





.lmsection img{
    /* margin: 30px; */
    padding:5% 10%;
    /* height:90%; */
    width: 75%;
    /* width:auto; */
}
.lmbtn{
    padding: 5px 20px;
    margin:10px auto;
    text-align: center;
    text-align: center;
    border-radius: 10px;
    /* font-size: 30px; */
    background-color:red;
    cursor: pointer;
    
}
.lmbtn a{
    font-size:35px;
    text-decoration:none;
    color:white;

    
}

#lmsection1 .lmbtn{
    background-color:rgb(0, 174, 255);
}
#lmsection2 .lmbtn{
    background-color:red;
}

.lmbtn a:hover{
    color:rgb(243, 239, 3);
    font-size:40px;
}


.lmh1{
    font-size:2.8rem;
    font-family: 'Pattaya', sans-serif;
}
.lmh0{
    font-size:3rem;
    padding:15px 5px;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    color:rgb(153, 0, 255);
}

/* section  */